.prod{
    background-image: url('https://s.alicdn.com/@sc04/kf/H7185dce861d24fe0becb6fe8bf1204b9m.jpg_720x720q50.jpg');
    background-position: center;
    background-size: cover;

}

.prod2{
    background-image: url('https://s.alicdn.com/@sc04/kf/H0075f6ed04494d7480e7b8555607ccef0.jpg_720x720q50.jpg');
    background-position: center;
    background-size: cover;
}
